@page "/"

@using FoundryBlazor.Shared
@using FoundryRulesAndUnits.Extensions

@using BlazorThreeJS.Viewers
@namespace Three2025.Components.Pages
@inherits HomeBase
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>
@* <WorkSpaceMenu /> *@

<RadzenButton ButtonStyle="ButtonStyle.Light" Variant="Variant.Flat" Size="ButtonSize.Small" Text="Go" Click="@Go" />


<div class="d-flex">
    @* <Canvas2DComponent CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight" /> *@
    <Canvas3DComponent CanvasWidth="@CanvasWidth" CanvasHeight="@CanvasHeight" />
    @* <Viewer @ref="View3D1" ViewerSettings=@settings Scene=scene /> *@
        <ShapeTreeView />
</div>
